<div class="hero js-hero {{modifier}}" data-video='{"url":"null","oEmbed":"null"}'>
    <img class="lazyload lazyload-measure lazyload-bg" data-src="{{ image }}" alt="Hero image"
        data-query-obj='{"mode":"crop", "quality":"70", "center": "0.8,0.3"}' />

    <div class="hero__iframe-wrapper js-hero-iframe-wrapper"></div>

    <div class="container">
        <div class="row">

            {{#if isCenter}}
            <div class="col-xs-10 col-md-8 col-xs-offset-1 col-md-offset-2">
                {{else if isRight}}
                <div class="col-xs-10 col-md-8 col-xs-offset-2 col-md-offset-4">
                    {{else}}
                    <div class="col-xs-10 col-xs-offset-1 col-md-8">
                        {{/if}}

                        <div class="hero__content">
                            <h1 class="hero__title">{{ title }}</h1>
                            <p class="hero__description">{{ description }}</p>
                            {{> @cta text="This is a CTA for the hero" }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>