<div class="container">
  <br>
  <h2>Input types</h2>
  <br>
  {{> @label inputId="selectId" text="Select" }}
  {{ render '@select' }}
  <br>
  {{ render '@checkbox' }}
  <br>
  <br>
  {{> @radio id="1" value="val1" name="radio" label="Radio 1"}}
  {{> @radio id="2" value="val2" name="radio" label="Radio 2"}}
  <br>
  <br>
  {{ render '@input' }}
  <br>
  <br>
  {{ render '@textarea' }}
</div>

<br>

<section class="section theme theme-blue">
  <div class="container">
    <br>
    <h2>Input types</h2>
    <br>
    {{> @label inputId="selectId" text="Select" }}
    {{ render '@select' }}
    <br>
    {{> '@checkbox' name="checkbox" id="checkboxId1" label="This is a checkbox" }}
    <br>
    <br>
    {{> @radio id="3" value="val1" name="radio" label="Radio 1"}}
    {{> @radio id="4" value="val2" name="radio" label="Radio 2"}}
    <br>
    <br>
    {{ render '@input' }}
    <br>
    <br>
    {{ render '@textarea' }}
  </div>
</section>

<section class="section theme theme-gray-1">
  <div class="container">
    <br>
    <h2>Input types</h2>
    <br>
    {{> @label inputId="selectId" text="Select" }}
    {{ render '@select' }}
    <br>
    {{> '@checkbox' name="checkbox" id="checkboxId2" label="This is a checkbox" }}
    <br>
    <br>
    {{> @radio id="5" value="val1" name="radio" label="Radio 1"}}
    {{> @radio id="6" value="val2" name="radio" label="Radio 2"}}
    <br>
    <br>
    {{ render '@input' }}
    <br>
    <br>
    {{ render '@textarea' }}
  </div>
</section>

<section class="section theme theme-gray-2">
  <div class="container">
    <br>
    <h2>Input types</h2>
    <br>
    {{> @label inputId="selectId" text="Select" }}
    {{ render '@select' }}
    <br>
    {{> '@checkbox' name="checkbox" id="checkboxId3" label="This is a checkbox" }}
    <br>
    <br>
    {{> @radio id="7" value="val1" name="radio" label="Radio 1"}}
    {{> @radio id="8" value="val2" name="radio" label="Radio 2"}}
    <br>
    <br>
    {{ render '@input' }}
    <br>
    <br>
    {{ render '@textarea' }}
  </div>
</section>


<section class="section theme theme-gray-3">
  <div class="container">
    <br>
    <h2>Input types</h2>
    <br>
    {{> @label inputId="selectId" text="Select" }}
    {{ render '@select' }}
    <br>
    {{> '@checkbox' name="checkbox" id="checkboxId4" label="This is a checkbox" }}
    <br>
    <br>
    {{> @radio id="9" value="val1" name="radio" label="Radio 1"}}
    {{> @radio id="10" value="val2" name="radio" label="Radio 2"}}
    <br>
    <br>
    {{ render '@input' }}
    <br>
    <br>
    {{ render '@textarea' }}
  </div>
</section>

<section class="section theme theme-green">
  <div class="container">
    <br>
    <h2>Input types</h2>
    <br>
    {{> @label inputId="selectId" text="Select" }}
    {{ render '@select' }}
    <br>
    {{> '@checkbox' name="checkbox" id="checkboxId5" label="This is a checkbox" }}
    <br>
    <br>
    {{> @radio id="11" value="val1" name="radio" label="Radio 1"}}
    {{> @radio id="12" value="val2" name="radio" label="Radio 2"}}
    <br>
    <br>
    {{ render '@input' }}
    <br>
    <br>
    {{ render '@textarea' }}
  </div>
</section>

<section class="section theme theme-red">
  <div class="container">
    <br>
    <h2>Input types</h2>
    <br>
    {{> @label inputId="selectId" text="Select" }}
    {{ render '@select' }}
    <br>
    {{> '@checkbox' name="checkbox" id="checkboxId6" label="This is a checkbox" }}
    <br>
    <br>
    {{> @radio id="13" value="val1" name="radio" label="Radio 1"}}
    {{> @radio id="14" value="val2" name="radio" label="Radio 2"}}
    <br>
    <br>
    {{ render '@input' }}
    <br>
    <br>
    {{ render '@textarea' }}
  </div>
</section>

<section class="section theme theme-seashell">
  <div class="container">
    <br>
    <h2>Input types</h2>
    <br>
    {{> @label inputId="selectId" text="Select" }}
    {{ render '@select' }}
    <br>
    {{> '@checkbox' name="checkbox" id="checkboxId7" label="This is a checkbox" }}
    <br>
    <br>
    {{> @radio id="15" value="val1" name="radio" label="Radio 1"}}
    {{> @radio id="16" value="val2" name="radio" label="Radio 2"}}
    <br>
    <br>
    {{ render '@input' }}
    <br>
    <br>
    {{ render '@textarea' }}
  </div>
</section>

<section class="section theme theme-yellow">
  <div class="container">
    <br>
    <h2>Input types</h2>
    <br>
    {{> @label inputId="selectId" text="Select" }}
    {{ render '@select' }}
    <br>
    {{> '@checkbox' name="checkbox" id="checkboxId8" label="This is a checkbox" }}
    <br>
    <br>
    {{> @radio id="17" value="val1" name="radio" label="Radio 1"}}
    {{> @radio id="18" value="val2" name="radio" label="Radio 2"}}
    <br>
    <br>
    {{ render '@input' }}
    <br>
    <br>
    {{ render '@textarea' }}
  </div>
</section>


