<div class="appetiser appetiser--image-{{imageAlign}} appetiser--{{size}} appetiser--{{position}}">
    <div class="appetiser__content-wrapper">

        {{#if isLarge}}
        <div class="container">
            {{/if}}

            <div class="appetiser__content">
                <h1 class="appetiser__title">{{ title }}</h1>
                <p class="appetiser__description">{{ description }}</p>
                {{> @cta modifier="" text="This is a CTA for the appetiser" }}
            </div>

            {{#if isLarge}}
        </div>
        {{/if}}

    </div>
    <figure class="appetiser__image">
        <img class="lazyload lazyload-measure lazyload-bg" data-src="{{ image }}" alt="Appetiser image"
            data-query-obj='{"mode":"crop", "quality":"70", "center": "0.5,0.8"}' />
    </figure>
</div>