<div class="accordion js-accordion">
    <h2 class="accordion__headline">{{ headline }}</h2>
    <div class="accordion__items {{#compare accordions.length 1 operator=">=" }}accordion__items--has-children{{/compare}}">
        {{#each accordions }}
            <accordion-item title="{{ title }}" id="{{ id }}" {{#compare id ../limit operator=">" }}:hidden="!showAllHiddenItems"{{/compare}}>
                <p>{{ text }}</p>
            </accordion-item>
        {{/each}}
    </div>
    {{#compare accordions.length limit operator=">" }}
        <div v-show="!showAllHiddenItems">
          <br>
          {{ render '@cta' button }}
        </div>
    {{/compare}}
</div>
