{{> '@logo' modifier='logo--mobile' }}

{{ render '@breadcrumb' }}

<section class="section section--no-spacing">
    {{ render '@image' }}
</section>

<section class="section">
    <div class="container container--text">
        <div class="section__inner theme-white">
            <div class="row">
                <div class="col-xs-12 col-md-10 col-md-offset-1">
                    {{ render '@rte' }}
                    {{ render '@quote' }}
                    {{ render '@video' }}
                </div>
            </div>
        </div>
    </div>
</section>

{{!-- <section class="section">
    {{> @video title="This is a fullwidth video container" subtitle="Text can be placed and aligned left, center and right. The playbutton “pushes” the text down. For text a headline and subline can be inserted, and subline has a maximum amount of charac…" }}
</section> --}}