{#
/**
 * @file
 * Default theme implementation to display a one-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}

{% set classes = [
  'layout',
  'layout--onecol',
  settings.color_theme != 'none' ? 'theme theme-' ~ settings.color_theme,
  'section',
  'section--spacing-top-' ~ settings.column_spacing_top,
  'section--spacing-bottom-' ~ settings.column_spacing_bottom
] %}

<section {{ attributes.addClass(classes) }}>
  {% if settings.column_width == 'fullwidth' %}
    <div {{ region_attributes.content.addClass('layout__region') }}>
      {{ content.content }}
    </div>
  {% elseif settings.column_width == 'narrow' %}
    <div {{ region_attributes.content.addClass(['container', 'layout__region']) }}>
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          {{ content.content }}
        </div>
      </div>
    </div>
  {% else %}
    <div {{ region_attributes.content.addClass(['container', 'layout__region']) }}>
      {{ content.content }}
    </div>
  {% endif %}
</section>
