<div{{ attributes.addClass('parcels').addClass('js-parcels') }}>
  {% if items.available %}
    <parcel-group title="{{ 'Available parcels'|t }}" items-count="{{ items.available|length }}" show-text="{{ 'See more vacant building plots'|t }}" hide-text="{{ 'See fewer vacant building plots'|t }}">
      {% for item in items.available %}
        <div class="col-xs-12 col-md-6 col-lg-4">
          {{ item }}
        </div>
      {% endfor %}
    </parcel-group>
  {% endif %}
  {% if items.reserved %}
    <parcel-group title="{{ 'Reserved parcels'|t }}" items-count="{{ items.reserved|length }}" show-text="{{ 'See more vacant building plots'|t }}" hide-text="{{ 'See fewer vacant building plots'|t }}">
      {% for item in items.reserved %}
        <div class="col-xs-12 col-md-6 col-lg-4">
          {{ item }}
        </div>
      {% endfor %}
    </parcel-group>
  {% endif %}
  {% if items.sold %}
    <parcel-group title="{{ 'Sold parcels'|t }}" items-count="{{ items.sold|length }}" show-text="{{ 'See more vacant building plots'|t }}" hide-text="{{ 'See fewer vacant building plots'|t }}">
      {% for item in items.sold %}
        <div class="col-xs-12 col-md-6 col-lg-4">
          {{ item }}
        </div>
      {% endfor %}
    </parcel-group>
  {% endif %}
</div>
