<div class="col-xs-12 col-md-4 parcel-wrapper">
  <div class="parcel-header">
    <div class="parcel-address">{{ parcel_address }}</div>
    <div class="parcel-status">{{ parcel_status|capitalize|t }}</div>
  </div>
  <div class="parcel-information">
    <div class="parcel-line parcel-area"><span class="parcel-line-label">{{ 'Area (m2)'|t }}</span><span class="parcel-line-value">{{ parcel_area }}</span></div>
    <div class="parcel-line parcel-price"><span class="parcel-line-label">{{ 'Minimum price'|t }}</span><span class="parcel-line-value">{{ parcel_price }}</span></div>
    <div class="parcel-line parcel-price"><span class="parcel-line-label">{{ 'Asking price'|t }}</span><span class="parcel-line-value">{{ parcel_price }}</span></div>
  </div>
  <div class="parcel-documents">
    {{ parcel_specs }}
  </div>
</div>
