{% set columns = {
  'dds_layout_twocolumn_5050': { left: 'col-xs-12 col-md-6', right: 'col-xs-12 col-md-6' },
  'dds_layout_twocolumn_3367': { left: 'col-xs-12 col-md-4', right: 'col-xs-12 col-md-8' },
  'dds_layout_twocolumn_6733': { left: 'col-xs-12 col-md-8', right: 'col-xs-12 col-md-4' }
} %}

{% set allow_spacing = settings.column_spacing and settings.column_spacing != 'none' %}
{% set column_style = layout.id ? layout.id : 'layout_twocolumn_5050' %}

{% set classes = [
  'paragraph',
  'paragraph--type-' ~ layout.getTemplate|clean_class,
  view_mode ? 'paragraph--view-mode-' ~ view_mode|clean_class,
  settings.color_theme != 'none' ? 'theme theme-' ~ settings.color_theme,
  'section',
  not allow_spacing ? 'section--no-spacing'
] %}

<section {{ attributes.addClass(classes) }}>
  <div class="container">
    <div class="row">
      <div class="{{ columns[column_style].left }}">
        {{ content.primary }}
      </div>
      <div class="{{ columns[column_style].right }}">
        {{ content.secondary }}
      </div>
    </div>
  </div>
</section>
