<div class="col-xs-12 col-md-6">
  <a href="{{ url }}" class="list-view-item">
    <figure{{ create_attribute.addClass('list-view-item__image').addClass(not image ? 'list-view-item__image--fallback') }}>
      {% if content.image %}
        {{ content.image }}
      {% else %}
        {% include '@dds_premium/components/atoms/a-svg-icon.html.twig' with {
          'svgIconName': 'no-image'
        } %}
      {% endif %}
    </figure>
    <div class="list-view-item__content">
      <h3 class="list-view-item__title">{{- content.title -}}</h3>
      <p class="list-view-item__text">{{- content.excerpt -}}</p>
      <span class="text-link">{{ 'Read more'|t({}, {'context' : 'premium search-item'}) }}</span>
    </div>
  </a>
</div>
